.cp-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-modal input {
  min-height: auto !important;
}

.cp-fields label {
  font-weight: 600;
  text-align: left;
}

.cp-error {
  color: #dc3545;
  text-align: left;
  margin-top: 4px;
}