.comment-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.comment-modal {
  background: #fff;
  border-radius: 16px;
  padding: 1.5rem;
  width: 90%;
  max-width: 700px;
  position: relative;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  max-height: 80vh;
  display: flex;
  flex-direction: column;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.comment-post-header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.comment-post-header .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.75rem;
}

.comment-post-text {
  margin-bottom: 1rem;
}

.comments-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  max-height: 50vh;
  overflow-y: auto;
  padding-right: 0.5rem;
}

/* scrollbarstyling */
.comments-list::-webkit-scrollbar {
  width: 6px;
}

.comments-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.comments-list::-webkit-scrollbar-track {
  background: transparent;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-user {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 10px;
}

.comment-timestamp {
  color: #ffc800;
  font-size: 0.75rem;
}

.comment-item {
  margin-bottom: 1rem;
  padding: 0.6rem;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.comment-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.comment-author {
  font-weight: bold;
  margin-right: 0.5rem;
}

.comment-text {
  color: #333;
}

.comment-input {
  display: flex;
  gap: 0.5rem;
}

.comment-input input {
  flex-grow: 1;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.modal-post-image {
  display: block;
  max-width: 100%;
  max-height: 50vh;
  margin: 0 auto;
  border-radius: 12px;
  object-fit: contain;
}