.success-box {
  background-color: white;
  border-radius: 20px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.8rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  max-width: 700px;
  height: 550px;
  margin: 5rem auto;
}

.success-box h2 {
  margin-top: 2rem;
  margin-bottom: 0;
}

.success-btn {
  background-color: #74d35e;
  color: black;
  border: none;
  padding: 0.6rem 2rem;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 50px;
  
}

.success-btn:hover {
  background-color: #5ac247;
}

.logo-image-home {
  width: 400px;
  height: 400px;
  margin-bottom: 0 px;
}

h1.logo-text {
  font-size: 35px;
  margin-left: 60px;
}