/* Layout Root */
.user-page {
  background-color: #745d1b;
  min-height: 100vh;
  font-family: sans-serif;
}

/* Profile Container */
.profile-container {
  padding-top: 30px; /* for sticky navbar */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Profile Header */
.profile-header {
  background-color: #fdfdfd;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.profile-avatar {
  width: 120px;
  height: 120px;
  margin-right: 20px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ffc800;
}

.profile-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Username + Fullname */
.profile-username {
  font-size: 1.4rem;
  margin-bottom: 8px;
}

.username-bold {
  font-weight: 700; /* bold */
  color: #111;      /* черно */
}

.fullname-normal {
  font-weight: 400; /* нормално */
  color: #555;      /* по-сиво */
}

/* Bio */
.profile-bio {
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
  white-space: pre-line;
}

/* Follow Button */
.follow-btn {
  background-color: #ffc800;
  border: none;
  border-radius: 10px;
  padding: 10px 18px;
  font-weight: bold;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.follow-btn:hover {
  background-color: #e6b800;
}

/* Message Button */
.message-btn {
  background-color: #ba9502; 
  border: none;
  border-radius: 10px;
  padding: 10px 18px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-right: 10px;
}

.message-btn:hover {
  background-color: #e6b800; 
}

/* Posts Section */
.user-posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.no-posts-message {
  background-color: white;
  color: black;
  padding: 1.5rem;
  border-radius: 12px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  width: 800px;
}
